<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat Now!{{else}}Cook Again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete All Evidence I Eat This!</button>
</li>
